---
layout: default
paginate: true
---

<main class="home">
  {% if site.hero-image %}
    <figure style='background-image: url("{{ site.hero-image }}");'>
  {% else %}
    <figure style='background-image: url("/uploads/homepage-hero-default.png");'>
  {% endif %}
      <h1 class="text-caps text-white spc-zero-s">{{ site.title }}</h1>
      <h2 class="text-caps text-green">{{ site.sub-headline }}</h2>
  </figure>
  <section class="row">
    <div class="column">
      <ul class="reset spc-n">
        {% for post in paginator.posts %}
          <li>
            <article>
              {% if post.hero-image %}
                <figure style='background-image: url("{{ post.hero-image }}");'></figure>
              {% else %}
                <figure style='background-image: url("http://img.bleacherreport.net/img/images/photos/003/637/116/hi-res-e752178f4dc1e29870c6f68379ad18b4_crop_north.jpg?w=630&h=420&q=75");'></figure>
              {% endif %}
              <section class="spc-tiny-n">
                <div>
                  <section class="profile-image-container">
                    <div>
                    {% if post.author %}
                      {% assign author = site.authors | where: "author", post.author %}
                      {% for data in author %}
                        {% assign photo = data.profile-image %}
                        {% if photo %}
                          <img src="{{ photo }}" alt="author image">
                        {% else %}
                          <img src="/uploads/author-icon-default.png" alt="default author image">
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <img src="/uploads/author-icon-default.png" alt="default author image">
                    {% endif %}
                  </section>
                  {% if post.author %}
                    <span>{{ post.author }}</span>
                  {% else %}
                    <span>A Wyzant Staff Staff Member</span>
                  {% endif %}
                </div>
                <time datetime="{{ post.date | date: "%F %T" }}">{{ post.date | date: "%-m/%-d/%Y" }}</time>
              </section>
              <h1 class="text-green spc-sm-n spc-zero-s">{{ post.title | escape }}</h1>
              {% if post.sub-headline %}
                <h2 class="text-thin spc-tiny-n">{{ post.sub-headline | escape }}</h2>
              {% endif %}
              {% if post.description %}
                <p>{{ post.description }}</p>
              {% else %}
                <p>{{ post.content | truncate: 150 }}</p>
              {% endif %}
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn">Read More</a>
            </article>
          </li>
        {% endfor %}
      </ul>
      {% if paginator.total_pages > 1 %}
        <section class="pagination">
          <span>&laquo;</span>
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lsaquo;</a>
          {% else %}
            <span>&lsaquo;</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="active">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rsaquo;</a>
          {% else %}
            <span>&rsaquo;</span>
          {% endif %}
          <span>&raquo;</span>
        </section>
      {% endif %}
      <div class="row">
              {% include banner.html %}
      </div>



  <!--     <a href="/authors/">See all authors</a> -->



    </div>
  </section>
</main>
