<footer id="site-footer" class="flex flex-col">
    <div class="row footer-row text-center medium-text-left">

        <div class="column medium-6 medium-right">
            <div class="row">
                <div class="column">
                    <h5 class="text-caps text-semibold spc-tiny-n hide medium-show">Download our free app</h5>
                    <div class="hide medium-show">
												<ul class="reset app-links">
														<li><a href="https://itunes.apple.com/us/app/wyzant-find-tutors-for-homework/id1042081370?mt=8" target="_blank">iPhone app for students</a></li>
														<li><a href="https://play.google.com/store/apps/details?id=com.wyzant.studentapp" target="_blank">Android app for students</a></li>
														<li><a href="https://play.google.com/store/apps/details?id=com.wyzant.tutorapp" target="_blank">iPhone app for tutors</a></li>
														<li><a href="https://itunes.apple.com/us/app/tutor-on-wyzant-find-tutoring/id1058526129?mt=8" target="_blank">Android app for tutors</a></li>
												</ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="column medium-6">
            <div class="row spc-tiny-n">
                <div class="column medium-4 spc-zero medium-spc-zero-n">
                    <a class="wyzantExpander" data-expandtarget="#get-to-know-links"><h5 class="text-semibold show-inline-block">GET TO KNOW US</h5></a>
                    <ul id="get-to-know-links" class="reset medium-spc-sm-n">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                        <li><a href="https://support.wyzant.com/hc/en-us">FAQ</a></li>
                        <li><a href="/reviews/studentreviewsofwyzant">Reviews</a></li>
                        <li><a href="/safetytips/tutorhiringsafetytips" rel="noindex">Safety</a></li>
                        <li><a href="/security">Security</a></li>
                        <li><a href="/news">In the News</a></li>
                    </ul>
                </div>
                <div class="column medium-4 spc-zero medium-spc-zero-n">
                    <a class="wyzantExpander" data-expandtarget="#learn-with-us-links"><h5 class="text-semibold show-inline-block">LEARN WITH US</h5></a>
                    <ul id="learn-with-us-links" class="reset medium-spc-sm-n">
                        <li><a href="/match?flow=search">Find a Tutor</a></li>
                        <li><a href="/emailtutor">Request a Tutor</a></li>
                        <li><a href="/tutors/online">Online Tutoring</a></li>
                        <li><a href="/resources/lessons/math">Get Math Help</a></li>
                        <li><a href="/resources">Learning Resources</a></li>
                        <li><a href="/scholarships">Wyzant Scholarships</a></li>
                    </ul>
                </div>
                <div class="column medium-4 spc-zero medium-spc-zero-n">
                    <a class="wyzantExpander" data-expandtarget="#work-with-us-links"><h5 class="text-semibold show-inline-block">WORK WITH US</h5></a>
                    <ul id="work-with-us-links" class="reset medium-spc-sm-n">
                        <li><a href="/about/careers">Careers at Wyzant</a></li>
                        <li><a href="/tutorsignupstart">Apply to Tutor</a></li>
                        <li><a href="/jobsearch">Tutor Job Board</a></li>
                        <li><a href="/partner">Partners</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mid-footer text-center row">
        <div class="column medium-hide">
            <h5 class="text-semibold spc-n">DOWNLOAD OUR FREE APP</h5>

            <div class="mobile-download-buttons medium-hide spc-sm-n spc-s">
                <a class="btn btn-ghost text-nowrap btn-spc spc-sm" target="_blank" href="https://play.google.com/store/apps/details?id=com.wyzant.studentapp">
                    <i class="wc-play-store wc-2x wc-vert-align"></i> Google Play
                </a>
                <a class="btn btn-ghost text-nowrap btn-spc spc-sm" target="_blank" href="https://itunes.apple.com/us/app/wyzant-find-tutors-for-homework/id1042081370?mt=8">
                    <i class="wc-iphone wc-2x wc-vert-align"></i> App Store
                </a>
            </div>
        </div>
        <div class="column medium-4">
            <h5 class="text-semibold spc-n">LET’S KEEP IN TOUCH</h5>
            <div class="spc-med-n spc-s">
                <a href="http://www.facebook.com/Wyzant" target="_blank"><i class="wc-facebook wc-2x wc-vert-align"></i></a>
                <a href="http://www.instagram.com/Wyzant" target="_blank"><i class="wc-instagram wc-2x wc-vert-align spc-ew"></i></a>
                <a href="http://www.linkedin.com/company/wyzant-tutoring" target="_blank" class="spc-s"><i class="wc-linkedin wc-2x wc-vert-align"></i></a>
            </div>
        </div>
        <div class="column medium-4">
            <h5 class="text-semibold spc-n">FEELING A LITTLE LOST?</h5>
            <p class="spc-s"><a href="/emailtutor">Start here</a> or give us a call: <a href="tel:8779992681">877-999-2681</a></p>
        </div>
        <div class="column medium-4">
            <h5 class="text-semibold spc-med-n medium-spc-n">BEST IN BUSINESS SINCE 2005</h5>
            <div class="spc-med-n spc-med-s medium-spc-s">
                <a class="show-inline-block" href="http://www.bbb.org/chicago/business-reviews/tutoring/wyzantcom-in-chicago-il-88349022#bbblogo">
								    <img class="bbb-logo-dark" src="/blog/uploads/bbb-logo-grey.png" width="82">
								    <img class="hide bbb-logo-light" src="/blog/uploads/bbb-logo-light-grey.png" width="82">
								</a>

            </div>
        </div>
    </div>


    <div class="sub-footer">
        <div class="row footer-row hide medium-show medium-text-left">
            <div class="column medium-6">
                <div class="row">
                    <div class="column spc-sm-s">
                        <h5 class="text-semibold">TUTORS BY SUBJECT</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="Algebra Tutoring" href="/algebra_tutors.aspx">Algebra Tutors</a></li>
                            <li><a title="Calculus Tutoring" href="/calculus_tutors.aspx">Calculus Tutors</a></li>
                            <li><a title="Chemistry Tutoring" href="/chemistry_tutors.aspx">Chemistry Tutors</a></li>
                            <li><a title="Computer Lessons" href="/Computer_tutors.aspx">Computer tutors</a></li>
                            <li><a title="Elementary Education Tutoring" href="/Elementary_Education_tutors.aspx">Elementary Tutors</a></li>
                            <li><a title="English Tutoring" href="/English_tutors.aspx">English Tutors</a></li>
                        </ul>
                    </div>
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="Geometry Tutoring" href="/geometry_tutors.aspx">Geometry Tutors</a></li>
                            <li><a title="Language Tutoring" href="/Language_tutors.aspx">Language Tutors</a></li>
                            <li><a title="Math Tutoring" href="/Math_tutors.aspx">Math Tutors</a></li>
                            <li><a title="Music Lessons" href="/Music_lessons.aspx">Music Lessons</a></li>
                            <li><a title="Physics Tutoring" href="/physics_tutors.aspx">Physics Tutors</a></li>
                            <li><a title="Reading Tutoring" href="/reading_tutors.aspx">Reading Tutors</a></li>
                        </ul>
                    </div>
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="SAT Tutoring" href="/SAT_tutors.aspx">SAT Tutors</a></li>
                            <li><a title="Science Tutoring" href="/Science_tutors.aspx">Science Tutors</a></li>
                            <li><a title="Spanish Tutoring" href="/Spanish_tutors.aspx">Spanish Tutors</a></li>
                            <li><a title="Statistics Tutoring" href="/statistics_tutors.aspx">Statistics Tutors</a></li>
                            <li><a title="Test Preparation Tutoring" href="/Test_Preparation_tutors.aspx">Test Prep Tutors</a></li>
                            <li><a title="Writing Tutoring" href="/writing_tutors.aspx">Writing Tutors</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column medium-6">
                <div class="row">
                    <div class="column spc-sm-s">
                        <h5 class="text-semibold">TUTORS BY LOCATION</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="Atlanta Tutoring" href="/Atlanta_tutors.aspx">Atlanta Tutors</a></li>
                            <li><a title="Boston Tutoring" href="/Boston_tutors.aspx">Boston Tutors</a></li>
                            <li><a title="Brooklyn Tutoring" href="/Brooklyn_NY_tutors.aspx">Brooklyn Tutors</a></li>
                            <li><a title="Chicago Tutoring" href="/Chicago_tutors.aspx">Chicago Tutors</a></li>
                            <li><a title="Dallas Tutoring" href="/Dallas_tutors.aspx">Dallas Tutors</a></li>
                            <li><a title="Denver Tutoring" href="/Denver_tutors.aspx">Denver Tutors</a></li>
                        </ul>
                    </div>
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="Detroit Tutoring" href="/Detroit_MI_tutors.aspx">Detroit Tutors</a></li>
                            <li><a title="Houston Tutoring" href="/Houston_tutors.aspx">Houston Tutors</a></li>
                            <li><a title="Los Angeles Tutoring" href="/Los_Angeles_tutors.aspx">Los Angeles Tutors</a></li>
                            <li><a title="Miami Tutoring" href="/Miami_tutors.aspx">Miami Tutors</a></li>
                            <li><a title="New York Tutoring" href="/New_York_City_tutors.aspx">New York City Tutors</a></li>
                            <li><a title="Orange County Tutoring" href="/Orange_County_CA_tutors.aspx">Orange County Tutors</a></li>
                        </ul>
                    </div>
                    <div class="column medium-4">
                        <ul class="reset">
                            <li><a title="Philadelphia Tutoring" href="/Philadelphia_tutors.aspx">Philadelphia Tutors</a></li>
                            <li><a title="Phoenix Tutoring" href="/Phoenix_tutors.aspx">Phoenix Tutors</a></li>
                            <li><a title="San Francisco Tutoring" href="/San_Francisco_tutors.aspx">San Francisco Tutors</a></li>
                            <li><a title="Seattle Tutoring" href="/Seattle_tutors.aspx">Seattle Tutors</a></li>
                            <li><a title="San Diego Tutoring" href="/San_Diego_tutors.aspx">San Diego Tutors</a></li>
                            <li><a title="Washington, DC Tutoring" href="/Washington_DC_tutors.aspx">Washington, DC Tutors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center legal-copy spc-s medium-spc-zero-n">
						<div class="column">
		            <div class="text-center medium-right medium-text-right spc-sm-s spc-n medium-spc-sm-n text-small">
		                <a href="/sitemap" rel="noindex">Sitemap</a>
		                <a class="spc-w" href="/termsofuse" rel="noindex">Terms of Use</a>
		                <a class="spc-w" href="/privacypolicy" rel="noindex">Privacy Policy</a>
		            </div>
		             <div class="text-center medium-left spc-sm medium-text-left text-small">
		                &copy; 2005 &ndash; 2017 Wyzant, Inc. &ndash; All Rights Reserved
		             </div>
						</div>
        </div>
    </div>
</footer>
