<footer>
	<div class="row flex-medium footer-row-1">
	    <ul class="reset spc-xl-s">
	      {% for subcategory in site.data.navigation.footer-top.subcategories %}
	      <li>
	        <input type="checkbox" id="{{ subcategory.id }}" class="footer-headline ">
	        <label for="{{ subcategory.id }}" class="text-green text-semibold text-small text-caps text-center medium-text-left">{{ subcategory.title }}</label>
	        <ul class="reset text-small">
	        {% for item in subcategory.items %}
	        	<li>
	        		<a href="{{ item.url }}" class="text-white">{{ item.title }}</a>
	        	</li>
	    	{% endfor %}
	    	</ul>
	      </li>
	      {% endfor %}
	    </ul>
	    <section class="spc-xl">
	    	<h2 class="text-green text-caps text-center">Did we go viral yet?</h2>
	    	<div class="flex-intro spc">
				<a href="http://www.facebook.com/Wyzant" target="_blank" class="text-orange"><i class="wc-facebook"></i></a>
				<a href="http://www.twitter.com/Wyzant" target="_blank" class="text-orange"><i class="wc-twitter"></i></a>
				<a href="http://www.linkedin.com/company/wyzant-tutoring" target="_blank" class="text-orange"><i class="wc-linkedin"></i></a>
			</div>
			<a href="http://www.bbb.org/chicago/business-reviews/tutoring/wyzantcom-in-chicago-il-88349022#bbblogo" target="_blank">
				<img src="/uploads/bbb-logo.png" alt="bbb logo">
			</a>
		</section>
	</div>
	<div class="hide show-medium footer-row-2">
		<div class="row">
			<div class="flex-medium column">
				<section>
					<h2 class="text-small text-caps text-white text-semibold spc-sm-s">Tutors By Subject</h2>
					<div class="flex-medium">
						{% for category in site.data.navigation.footer-bottom.column-one %}
							<ul class="reset">
								{% for list-item in category.items %}
									<li>
										<a href="{{ list-item.url }}" class="text-white text-small">{{ list-item.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</div>
				</section>
				<section>
					<h2 class="text-small text-caps text-white text-semibold spc-sm-s">Tutors By Location</h2>
					<div class="flex-medium">
						{% for category in site.data.navigation.footer-bottom.column-two %}
							<ul class="reset">
								{% for list-item in category.items %}
									<li>
										<a href="{{ list-item.url }}" class="text-white text-small">{{ list-item.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
</footer>