<header id="masthead">
    <div class="row">
        <div class="column">
            <div class="left medium-hide nav-mobile-left">
                <a data-expandtarget="#mobileNav" class="nav-mobile-link"><i class="wc-menu"></i></a>
            </div>
            <a href="/" title="Tutors, Tutoring Services, and Homework Help"><img id="headerLogo" src="//www.wyzant.com/images/logos/wyzant-logo-reversed2x.png"></a>
            <div class="login-signup right text-caps hide medium-show">
                    <a href="/login" class="btn btn-minimal-alt btn-small login">Log in</a>
                    <a href="/signup" class="btn btn-minimal-primary btn-small signup">Sign up</a>
            </div>
            <nav id="headerNav" class="ui-dropdown-menu hide medium-show-inline-block">
            <div class="ui-menu-item ui-has-subnav" id="navFindTutor">
                <div class="text-small">Find A Tutor <i class="wc-caret-down"></i></div>
                <div class="ui-menu-submenu">
                        <div><a title="Search For Tutors" href="/tutorsearch" data-wyz-tracking-click data-wyz-tracking-label="Search For Tutors" data-wyz-tracking-cat="Tutor Nav">Search For Tutors</a></div>
                        <div><a title="Request A Tutor" href="/emailtutor" data-wyz-tracking-click data-wyz-tracking-label="Request A Tutor" data-wyz-tracking-cat="Tutor Nav">Request A Tutor</a></div>
                        <div><a title="Online Tutoring" href="/online/student" data-wyz-tracking-click data-wyz-tracking-label="Online Tutoring" data-wyz-tracking-cat="Tutor Nav">Online Tutoring</a></div>
                </div>
            </div>
            <div class="ui-menu-item ui-has-subnav" id="navHowItWorks">
                <div class="text-small">How It Works <i class="wc-caret-down"></i></div>
                <div class="ui-menu-submenu">
                        <div><a title="For Students" href="/howitworks/students" data-wyz-tracking-click data-wyz-tracking-label="For Students" data-wyz-tracking-cat="Tutor Nav">For Students</a></div>
                        <div><a title="FAQ" href="https://support.wyzant.com/hc/en-us" data-wyz-tracking-click data-wyz-tracking-label="FAQ" data-wyz-tracking-cat="Tutor Nav">FAQ</a></div>
                        <div><a title="What Customers Say" href="/reviews/studentreviewsofwyzant" data-wyz-tracking-click data-wyz-tracking-label="What Customers Say" data-wyz-tracking-cat="Tutor Nav">What Customers Say</a></div>
                </div>
            </div>
            <div class="ui-menu-item ui-has-subnav" id="navResources">
                <div class="text-small">Resources <i class="wc-caret-down"></i></div>
                <div class="ui-menu-submenu">
                        <div><a title="College Scholarship" href="/scholarships" data-wyz-tracking-click data-wyz-tracking-label="College Scholarship" data-wyz-tracking-cat="Tutor Nav">College Scholarship</a></div>
                        <div><a title="Answers" href="/resources/answers" data-wyz-tracking-click data-wyz-tracking-label="Answers" data-wyz-tracking-cat="Tutor Nav">Answers</a></div>
                        <div><a title="Lessons" href="/resources/lessons" data-wyz-tracking-click data-wyz-tracking-label="Lessons" data-wyz-tracking-cat="Tutor Nav">Lessons</a></div>
                </div>
            </div>
            <div class="ui-menu-item ui-has-subnav" id="navTutors">
                <div class="text-small">Tutors <i class="wc-caret-down"></i></div>
                <div class="ui-menu-submenu">
                        <div><a title="Apply Now" href="/tutorsignupstart" data-wyz-tracking-click data-wyz-tracking-label="Apply Now" data-wyz-tracking-cat="Tutor Nav">Apply Now</a></div>
                        <div><a title="Tutoring Jobs" href="/JobSearch.aspx" data-wyz-tracking-click data-wyz-tracking-label="Tutoring Jobs" data-wyz-tracking-cat="Tutor Nav">Tutoring Jobs</a></div>
                        <div><a title="About Tutoring With Us" href="/tutorhome" data-wyz-tracking-click data-wyz-tracking-label="About Tutoring With Us" data-wyz-tracking-cat="Tutor Nav">About Tutoring With Us</a></div>
                        <div><a title="How It Works For Tutors" href="/howitworks/tutors" data-wyz-tracking-click data-wyz-tracking-label="How It Works For Tutors" data-wyz-tracking-cat="Tutor Nav">How It Works For Tutors</a></div>
                        <div><a title="FAQ " href="https://support.wyzant.com/hc/en-us" data-wyz-tracking-click data-wyz-tracking-label="FAQ " data-wyz-tracking-cat="Tutor Nav">FAQ </a></div>
                </div>
            </div>
            <div class="ui-menu-item ui-has-subnav" id="navAbout">
                <div class="text-small">About Wyzant <i class="wc-caret-down"></i></div>
                <div class="ui-menu-submenu">
                        <div><a title="About Us" href="/about" data-wyz-tracking-click data-wyz-tracking-label="About Us" data-wyz-tracking-cat="Tutor Nav">About Us</a></div>
                        <div><a title="Our Team" href="/about/team" data-wyz-tracking-click data-wyz-tracking-label="Our Team" data-wyz-tracking-cat="Tutor Nav">Our Team</a></div>
                        <div><a title="Careers" href="/about/careers" data-wyz-tracking-click data-wyz-tracking-label="Careers" data-wyz-tracking-cat="Tutor Nav">Careers</a></div>
                        <div><a title="Contact Us" href="/about/contact" data-wyz-tracking-click data-wyz-tracking-label="Contact Us" data-wyz-tracking-cat="Tutor Nav">Contact Us</a></div>
                </div>
            </div>
            </nav>

            <div class="right medium-hide">
                <a href="tel:+1-877-999-2681" rel="nofollow"><i class="wc-phone-alt"></i></a>
                    <a href="#heroBlock" id="mobileNavSearch" data-expandtarget="#mobileSubjectSearch"><i class="wc-search-new"></i></a>
            </div>
        </div>
    </div>
    <div class="hide medium-hide" id="mobileMessaingFeatureUpdateList">
        

<div class="feature-dropdown-container">
    <div class="text-small wyzantExpander hide medium-show nav-medium-bell" data-expandTarget=".feature-dropdown"><i class="wc-bell"></i> What&rsquo;s New</div>
    <div class="feature-dropdown">
        <div class="feature-dropdown-header">
            <strong>NEW FEATURES</strong>
            <span class="close right wyzantExpander hide medium-show" data-expandTarget=".feature-dropdown"><i class="wc-times"></i></span>
            <a href="/tutor/messaging/newfeatures" class="right medium-hide">MORE</a>
        </div>
        <hr>
        <div class="feature-list">
                <div class="ui-loader ui-loader-medium"></div>
        </div>
    </div>
</div>
    </div>
    <nav id="mobileNav" class="medium-hide">
            <div class="ui-mobile-menu-item">
                <a title="Log in" href="/login" data-wyz-tracking-click data-wyz-tracking-label="Log in" data-wyz-tracking-cat="Tutor Nav">Log in</a>
            </div>
            <div class="ui-mobile-menu-item">
                <a title="Sign up" href="/signup" data-wyz-tracking-click data-wyz-tracking-label="Sign up" data-wyz-tracking-cat="Tutor Nav">Sign up</a>
            </div>
            <div>
                <div class="ui-mobile-menu-item ui-mobile-menu-title">Find A Tutor</div>
                <div class="ui-mobile-menu-submenu">
                    <div class="ui-mobile-menu-item"><a title="Search For Tutors" href="/tutorsearch" data-wyz-tracking-click data-wyz-tracking-label="Search For Tutors" data-wyz-tracking-cat="Tutor Nav">Search For Tutors</a></div>
                    <div class="ui-mobile-menu-item"><a title="Request A Tutor" href="/emailtutor" data-wyz-tracking-click data-wyz-tracking-label="Request A Tutor" data-wyz-tracking-cat="Tutor Nav">Request A Tutor</a></div>
                    <div class="ui-mobile-menu-item"><a title="Online Tutoring" href="/online/student" data-wyz-tracking-click data-wyz-tracking-label="Online Tutoring" data-wyz-tracking-cat="Tutor Nav">Online Tutoring</a></div>
                </div>
            </div>
            <div>
                <div class="ui-mobile-menu-item ui-mobile-menu-title">How It Works</div>
                <div class="ui-mobile-menu-submenu">
                    <div class="ui-mobile-menu-item"><a title="For Students" href="/howitworks/students" data-wyz-tracking-click data-wyz-tracking-label="For Students" data-wyz-tracking-cat="Tutor Nav">For Students</a></div>
                    <div class="ui-mobile-menu-item"><a title="FAQ" href="https://support.wyzant.com/hc/en-us" data-wyz-tracking-click data-wyz-tracking-label="FAQ" data-wyz-tracking-cat="Tutor Nav">FAQ</a></div>
                    <div class="ui-mobile-menu-item"><a title="What Customers Say" href="/reviews/studentreviewsofwyzant" data-wyz-tracking-click data-wyz-tracking-label="What Customers Say" data-wyz-tracking-cat="Tutor Nav">What Customers Say</a></div>
                </div>
            </div>
            <div>
                <div class="ui-mobile-menu-item ui-mobile-menu-title">Resources</div>
                <div class="ui-mobile-menu-submenu">
                    <div class="ui-mobile-menu-item"><a title="College Scholarship" href="/scholarships" data-wyz-tracking-click data-wyz-tracking-label="College Scholarship" data-wyz-tracking-cat="Tutor Nav">College Scholarship</a></div>
                    <div class="ui-mobile-menu-item"><a title="Answers" href="/resources/answers" data-wyz-tracking-click data-wyz-tracking-label="Answers" data-wyz-tracking-cat="Tutor Nav">Answers</a></div>
                    <div class="ui-mobile-menu-item"><a title="Lessons" href="/resources/lessons" data-wyz-tracking-click data-wyz-tracking-label="Lessons" data-wyz-tracking-cat="Tutor Nav">Lessons</a></div>
                </div>
            </div>
            <div>
                <div class="ui-mobile-menu-item ui-mobile-menu-title">Tutors</div>
                <div class="ui-mobile-menu-submenu">
                    <div class="ui-mobile-menu-item"><a title="Apply Now" href="/tutorsignupstart" data-wyz-tracking-click data-wyz-tracking-label="Apply Now" data-wyz-tracking-cat="Tutor Nav">Apply Now</a></div>
                    <div class="ui-mobile-menu-item"><a title="Tutoring Jobs" href="/JobSearch.aspx" data-wyz-tracking-click data-wyz-tracking-label="Tutoring Jobs" data-wyz-tracking-cat="Tutor Nav">Tutoring Jobs</a></div>
                    <div class="ui-mobile-menu-item"><a title="About Tutoring With Us" href="/tutorhome" data-wyz-tracking-click data-wyz-tracking-label="About Tutoring With Us" data-wyz-tracking-cat="Tutor Nav">About Tutoring With Us</a></div>
                    <div class="ui-mobile-menu-item"><a title="How It Works For Tutors" href="/howitworks/tutors" data-wyz-tracking-click data-wyz-tracking-label="How It Works For Tutors" data-wyz-tracking-cat="Tutor Nav">How It Works For Tutors</a></div>
                    <div class="ui-mobile-menu-item"><a title="FAQ " href="https://support.wyzant.com/hc/en-us" data-wyz-tracking-click data-wyz-tracking-label="FAQ " data-wyz-tracking-cat="Tutor Nav">FAQ </a></div>
                </div>
            </div>
            <div>
                <div class="ui-mobile-menu-item ui-mobile-menu-title">About Wyzant</div>
                <div class="ui-mobile-menu-submenu">
                    <div class="ui-mobile-menu-item"><a title="About Us" href="/about" data-wyz-tracking-click data-wyz-tracking-label="About Us" data-wyz-tracking-cat="Tutor Nav">About Us</a></div>
                    <div class="ui-mobile-menu-item"><a title="Our Team" href="/about/team" data-wyz-tracking-click data-wyz-tracking-label="Our Team" data-wyz-tracking-cat="Tutor Nav">Our Team</a></div>
                    <div class="ui-mobile-menu-item"><a title="Careers" href="/about/careers" data-wyz-tracking-click data-wyz-tracking-label="Careers" data-wyz-tracking-cat="Tutor Nav">Careers</a></div>
                    <div class="ui-mobile-menu-item"><a title="Contact Us" href="/about/contact" data-wyz-tracking-click data-wyz-tracking-label="Contact Us" data-wyz-tracking-cat="Tutor Nav">Contact Us</a></div>
                </div>
            </div>
    </nav>
</header>
