<header>
	<section class="row">
		<div class="column">
			<a href="#" id="menu" class="left">
				<i class="wc-menu"></i>
			</a>
			<img src="/blog/uploads/wyzant-logo.png" alt="logo">
			<nav id="nav" data-expanded="false">
			    <ul class="text-caps reset">
			      {% for item in site.data.navigation.header %}
			      <li class="text-small">
			        <a href="{{ item.url }}">{{ item.title }}</a>
			      </li>
			      {% endfor %}
			    </ul>
		    </nav>
		    <a href="/signup" class="btn btn-minimal-primary btn-small signup right">Sign Up</a>
	    </div>
    </section>
</header>