#site-footer {
		width: 100%;
    margin-top: 30px;
    font-size: 14px;
    background: $gray-800;
    color: $gray-200;

    h5 {
        font-size: 14px;
    }
    a:not(.btn):not(.text-light) {
        color: $textColorDisabled;

        h5 {
            color: $gray-200;
        }
    }
    .bbb-logo-dark {
        display: none;
    }
    .bbb-logo-light {
        display: inline-block;
    }
    .footer-row {
        order: 2;

        a.wyzantExpander {
            display: block;
            padding: 1em 0;
            border-bottom: 1px solid $textColorDisabled;
            position: relative;

            &:last-of-type {
                border-bottom: 0;
            }
            &.expanded {
                border-bottom: 0;

                &::before {
                    display: none;
                }
                h5::after {
                    display: none;
                }
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -1px;
                left: -1em;
                width: calc(100% + 2em);
                height: 1px;
                background: $textColorDisabled;
            }
            &::after {
                content: "";
                position: absolute;
                top: -1px;
                left: -1em;
                width: calc(100% + 2em);
                height: 1px;
                background: $textColorDisabled;
            }
            h5 {
                position: relative;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    background: $gray-200;
                }
                &::before {
                    width: 12px;
                    height: 2px;
                    right: -30px;
                    top: 8.5px;
                }
                &::after {
                    width: 2px;
                    height: 12px;
                    right: -25px;
                    top: 4px;
                }
            }
            & + ul {
                max-height: 0;
                margin: 0;
                overflow: hidden;

                &.expanded {
                    transition: 1s ease-in;
                    max-height: 10000px;
                }
                li {
                    padding: 10px 0;

                    &:last-of-type {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    .mid-footer {
        order: 1;

        .column {
            border-bottom: 1px solid $textColorDisabled;

            &:last-of-type {
                border-bottom: 0;
            }
            p {
                color: $textColorDisabled;
            }
            &:nth-child(3) {
                border-top: 1px solid $textColorDisabled;
                border-bottom: 1px solid $textColorDisabled;
            }
        }
    }
    .mobile-download-buttons .btn {
        min-width: 165px;
    }
    .footer-headline {
        // Extend the <h2> and the following <h3> from our type.less file.
        // Due to seo impact of having too many headline elements on our pages,
        // We want these elements to be styled the same as our headlines,
        // but not to actually be marked up as a headline.
        @extend h2;
    }
    .footer-tel {
        @extend h3;
    }
    .sub-footer {
        order: 3;
    }
    .legal-copy {
        font-size: 12px;
        border-top: 1px solid $textColorDisabled;

        a:not(.btn):not(.text-light) {
            color: $gray-200;
        }
    }
}

@media #{$queryMedium} {
    #site-footer {
        margin-top: 60px;

        .footer-row {
            order: 1;
            padding: 60px 0 40px;

            a.wyzantExpander {
                border-bottom: 0;
                padding: 0;

                &::before,
                &::after,
                h5::before,
                h5::after {
                    display: none;
                }
                h5 {
                    color: $gray-200;
                    cursor: default;
                }
                & + ul {
                    max-height: 100%;

                    li {
                        padding: 0 0 7px 0;
                    }
                }
            }
						.app-links {
								padding-top: 2px;
								
								li {
									padding: 0 0 7px 0;

							}
						}
        }
        .mid-footer {
            order: 2;
            border-top: 1px solid $textColorDisabled;
            border-bottom: 1px solid $textColorDisabled;

            .column {
                min-height: 140px;
                border-bottom: 0;

                &:nth-child(3) {
                    border-left: 1px solid $textColorDisabled;
                    border-right: 1px solid $textColorDisabled;
                    border-top: 0;
                    border-bottom: 0;
                }
            }
        }
        .legal-copy {
						display: block;
						margin: 0 auto;
            border-top: 0;
        }
    }
}

@media #{$queryLarge} {
    #site-footer .mid-footer .column {
        min-height: 130px;
    }
}
