.dark-header header:nth-child(1) {
	background: $gray-700;
}

header:nth-child(1) {
    z-index: 10;
    position: absolute;
    width: 100%;
    background: rgba(32,32,32,.5);
    color: #fff;
    nav {
    	position: absolute;
    	width: 100%;
    	left: 0;
    	right: 0;
    	&[data-expanded="true"] {
    		top: 61px;
    	}
    	&[data-expanded="false"] {
    		top: -1000px;
    	}
    }
	ul {
		list-style: none;
		background: $gray-700;
	}
	li {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid $gray-200;
		font-size: 12px;
		&:first-child {
			border-top: 1px solid $gray-200;
		}
	}
	a {
		color: #fff;
		display: block;
		padding: 1em;
	}
	img {
		position: absolute;
	    left: 50%;
	    width: 110px;
	    top: 18px;
	    margin-left: -55px;
	}
	input[type=checkbox] {
		opacity: 0;
		height: 0;
		width: 0;
		&:checked ~ nav  {
			top: 61px;
		}
	}
	label {
		font-size: 1.6em;
		padding: 13px;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}

@media #{$queryMedium} {
	header:nth-child(1) {
		min-height: 80px;
		padding: 20px 0;
		.logo-container {
			padding: 0;
			margin: 0;
			display: inline-block;
			vertical-align: top;
		}
		nav {
			display: inline-block;
			padding: .7em 0;
			position: relative;
			background: none;
			display: inline-block;
			width: auto;

			&[data-expanded="false"],
			&[data-expanded="true"] {
				top: auto;
			}
		}
		ul {
			display: inline-block;
			background: none;
		}
		img {
		    width: 164px;
		    margin: 0 20px 0 0;
		    vertical-align: top;
		    position: static;
		}
		li {
		    padding: .3em 1em 0 0;
		    border: 0;
		    width: auto;
			&:first-child {
				border-top: 0;
			}
		    a {
		    	padding: 0;
		    }
		}
		&.marketing-blog {
			li:first-child {
				display: none;
			}
		}
		&.nursing-blog {
			background: #464241;
			position: relative;
			li:first-child {
				display: none;
			}
		}
		label {
			display: none;
		}
	}
}
