@mixin flex {
    display: flex;
}
@mixin flex-col  {
    flex-direction: column;
}
@mixin flex-row  {
    flex-direction: row;
}
@mixin flex-baseline  {
    align-items: baseline;
}
@mixin flex-center-items  {
    @include flex;
    align-items: center;
}

// Small classes available for legacy support and special cases. Going forward the small styling should be default whenever possible.
@media #{$querySmall} {
    .small-hide {
        display: none !important;
    }
    .medium-column {
        // Clear any floats applied by Foundation to .column classes
        // They use a lazy attribute selector that catches our .medium-column class,
        // but we don't consider this a .column until the medium breakpoint
        float: none !important;
    }
}
// END small helpers

.show-inline {
    display: inline;
}
.show-inline-block {
    display: inline-block;
}
.column.collapse {
    padding-left: 0;
}

.flex {
    @include flex;
}
.flex-col {
    @include flex-col;
}
.flex-row {
    @include flex-row;
}
.flex-baseline {
    @include flex-baseline;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-spc-btwn {
    justify-content: space-between;
}
// For vertically centering content
// Apply this to the container of the items to be centered
.flex-center-items {
    @include flex-center-items;
}
// For horizontally/vertically centering content
// Apply this to the container of the items to be centered
.flex-center {
    @include flex-center-items;
    justify-content: center;
}

.hide {
    display: none;
}

@media #{$queryMedium} {
    .medium-column {
        position: relative;
        float: left;
        padding-left: 1em;
        padding-right: 1em;
    }
    .medium-show {
        display: block !important;
    }
    .medium-show-inline {
        display: inline;
    }
    .medium-show-inline-block {
        display: inline-block !important;
    }
    .medium-show-td {
        display: table-cell;
    }
    .medium-show-tr {
        display: table-row;
    }
    .medium-flex {
        display: flex !important;
    }
    .medium-hide {
        display: none !important;
    }
    .medium-left {
        float: left !important;
    }
    .medium-right {
        float: right !important;
    }
    .medium-text-left {
        text-align: left;
    }
    .medium-text-right {
        text-align: right;
    }
    .medium-text-center {
        text-align: center;
    }
    .medium-flex {
        @include flex;
    }
    .medium-flex-col {
        @include flex-col;
    }
    .medium-flex-row {
        @include flex-row;
    }
    .medium-flex-baseline {
        @include flex-baseline;
    }
    .medium-flex-center-items {
        @include flex-center-items;
    }
}

@media #{$queryLarge} {
    .large-show {
        display: block;
    }
    .large-show-inline {
        display: inline;
    }
    .large-show-inline-block {
        display: inline-block;
    }
    .large-show-td {
        display: table-cell;
    }
    .large-show-tr {
        display: table-row;
    }
    .large-hide {
        display: none !important;
    }
    .large-left {
        float: left !important;
    }
    .large-right {
        float: right !important;
    }
    .large-text-left {
        text-align: left;
    }
    .large-text-right {
        text-align: right;
    }
    .large-text-center {
        text-align: center;
    }
    .large-flex {
        @include flex;
    }
    .large-flex-col {
        @include flex-col;
    }
    .large-flex-row {
        @include flex-row;
    }
    .large-flex-baseline {
        @include flex-baseline;
    }
    .large-flex-center-items {
        @include flex-center-items;
    }
}
