.spc-xl {
    margin-top: $spacingExtraLarge !important;
    margin-bottom: $spacingExtraLarge !important;
}
.spc-xl-n {
    margin-top: $spacingExtraLarge !important;
}
.spc-xl-s {
    margin-bottom: $spacingExtraLarge !important;
}
.spc {
    margin-top: $spacingStandard !important;
    margin-bottom: $spacingStandard !important;
}
.spc-n {
    margin-top: $spacingStandard !important;
}
.spc-s {
    margin-bottom: $spacingStandard !important;
}
.spc-ew {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.spc-e {
    margin-right: 1em !important;
}
.spc-w {
    margin-left: 1em !important;
}
.spc-med {
    margin-top: $spacingMedium !important;
    margin-bottom: $spacingMedium !important;
}
.spc-med-n {
    margin-top: $spacingMedium !important;
}
.spc-med-s {
    margin-bottom: $spacingMedium !important;
}
.spc-sm {
    margin-top: $spacingSmall !important;
    margin-bottom: $spacingSmall !important;
}
.spc-sm-n {
    margin-top: $spacingSmall !important;
}
.spc-sm-s {
    margin-bottom: $spacingSmall !important;
}
.spc-tiny {
    margin-top: $spacingTiny !important;
    margin-bottom: $spacingTiny !important;
}
.spc-tiny-n {
    margin-top: $spacingTiny !important;
}
.spc-tiny-s {
    margin-bottom: $spacingTiny !important;
}
.spc-zero {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.spc-zero-n {
    margin-top: 0 !important;
}
.spc-zero-s {
    margin-bottom: 0 !important;
}