html {
    -webkit-text-size-adjust: none;
}
body {
    line-height: 1.58;
    font-size: $baseFontSize * 1px;
    font-weight: normal;
    font-family: $fontDefault;
    color: $textColorStandard;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h1,
h2,
h3 {
    font-family: "Ubuntu", sans-serif;
}

h1.super-header {
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;
}
h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}
h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.36;
}

// Tablet and desktop header font sizes
@media #{$queryMedium} {
    h1.super-header {
        line-height: 1;
        font-size: 76px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
}

// Secondary headers
h1,
h2,
h3,
h4,
h5,
h6 {
    &.light-header {
        font-weight: 300;
    }
}
h1.light-header {
    margin-bottom: 0;
}
h1:not(.light-header) + .light-header {
    margin-top: -20px;
}

// Links
a {
    text-decoration: none;
    color: $linkBlue;

    &:hover {
        text-decoration: underline;
    }
    &.muted {
        text-decoration: underline;
        color: $linkMuted;
    }
}

//========== Helper classes ==========
.text-large {
    line-height: 1.4;
    font-size: 16px;
}
.text-small {
    font-size: 12px;
}
.text-wrap {
    word-wrap: break-word;
}
.text-nowrap {
    white-space: nowrap;
}
strong,
b,
.text-semibold {
    font-weight: 600;
}
.text-normal {
    font-weight: 400;
}
.text-thin {
    font-weight: 300;
}
.text-light {
    color: $textColorMuted;
}
.text-disabled {
    color: $textColorDisabled;
}
.text-caps {
    text-transform: uppercase;
}
.text-error {
    color: $red-500;
    font-weight: 600;
}
// Prevent clicking from highlighting text
.text-noselect {
    user-select: none;
}
.text-center {
    text-align: center;
}

//========== Text color classes ==========
// These should only be used when the design calls for colored text
// Our current styleguide uses colored text very rarely
.text-white {
    color: #fff;
}
.text-orange {
    color: $orange-500;
}
.text-blue {
    color: $blue-500;
}
.text-green {
    color: $green-500;
}
.text-yellow {
    color: $yellow-500;
}
.text-red {
    color: $red-500;
}
@media #{$queryMedium} {
    .medium-text-left {
        text-align: left;
    }
    .medium-text-center {
        text-align: center;
    }
    .medium-text-right {
        text-align: right;
    }
}
