// Standard brand colors
$orange-900: #b84c0d;
$orange-500: #ed6d20;
$orange-400: #f18c3e;
$orange-50: #fdeee3;

$blue-900: #005c99;
$blue-500: #017acd;
$blue-400: #33adff;
$blue-50: #ccebff;

$green-900: #417b3b;
$green-500: #60ad56;
$green-400: #7ac276;
$green-50: #eef6e6;

$yellow-900: #8a6b2c;
$yellow-500: #f6bb42;
$yellow-400: #ffce54;
$yellow-50: #fef4e0;

$red-900: #b5230d;
$red-500: #e9573f;
$red-400: #fc6e51;
$red-50: #fce6e3;

$purple-900: #522544;
$purple-500: #703e60;
$purple-400: #8b587b;
$purple-50: #eee6eb;

// Grays
$gray-900: #1d1b1a;
$gray-800: #363232;
$gray-700: #464241;
$gray-600: #746f6e;
$gray-500: #afabaa;
$gray-400: #c4c1c1;
$gray-300: #d8d6d6;
$gray-200: #eceaea;
$gray-100: #f4f3f2;
$gray-50: #f9f8f8;

// Border and background colors
$borderGray: $gray-200;
$backgroundBlue: $blue-50;


// Standard text colors
$textColorStandard: $gray-800;
$textColorMuted: $gray-600;
$textColorDisabled: $gray-500;


// Aliases
$backgroundGray: $gray-200;
$backgroundGrayHover: $gray-50;
$linkBlue: $blue-500;
$linkMuted: $textColorMuted;


// Font related variables
$fontDefault: "Open Sans", Tahoma, Geneva, Sans-Serif;
$baseFontSize: 14;


// Spacing
$spacingExtraLarge: 60px;
$spacingStandard: 30px;
$spacingMedium: 20px;
$spacingSmall: 10px;
$spacingTiny: 5px;

// Not preferred in a mobile-first paradigm but needed for transition
// PLEASE DO NOT USE THIS MEDIAQUERY, AND WORK TO REMOVE ANY INSTANCES OF THEM FROM THE SITE
$querySmall: "only screen and (max-width: 640px)";

// Set quick reference variables to the media-query strings
$queryMedium: "only screen and (min-width: 641px)";
$queryLarge: "only screen and (min-width: 1025px)";
$queryXLarge: "only screen and (min-width: 1441px)";
$queryXXLarge: "only screen and (min-width: 1921px)";
