<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex, nofollow">
        {% include meta-data.html %}
    </head>
    <body class="dark-header">
        {% include header.html %}
        <main class="home authoring-guide">
          <section class="row">
            <div class="column spc-xl-n">
                <h1 class="spc-xl-n spc-sm-s">Authoring Guidelines</h1>
                <h5 class="spc-sm-s">This details how to author the Wyzant marketing and Wyzant tutor blogs that live on the <a href="https://www.siteleaf.com/">Siteleaf</a> cms.</h5>
                <p class="spc-sm-s">Wyzant Marketing Blog: <a href="https://www.wyzant.com/blog/">https://www.wyzant.com/blog/</a></p>
                <p class="spc-med-s">Wyzant Tutor Blog: <a href="https://www.wyzant.com/blog/tutor/">https://www.wyzant.com/blog/tutor/</a></p>
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </section>
        </main>
        {% include scripts.html %}
    </body>
</html>
