<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex, nofollow">
        {% include meta-data.html %}
    </head>
    <body class="dark-header">
        {% include header.html %}
        <main class="home authoring-guide">
          <section class="row">
            <div class="column spc-xl-n">
                <h1 class="spc-xl-n spc-sm-s">Authoring Guidelines</h1>
                <h5 class="spc-sm-s">This details how to author the Wyzant marketing and Wyzant tutor blogs that live on the <a href="https://www.siteleaf.com/">Siteleaf</a> cms.</h5>
                <p class="spc-sm-s">Wyzant Marketing Blog: <a href="https://www.wyzant.com/blog/">https://www.wyzant.com/blog/</a></p>
                <p class="spc-med-s">Wyzant Tutor Blog: <a href="https://www.wyzant.com/blog/tutor/">https://www.wyzant.com/blog/tutor/</a></p>
                <p><strong>Table of Contents:</strong></p>
                <ol class="table-of-contents">
                    <li><a href="#one">Blog Post Style Guidelines</a></li>
                    <li><a href="#two">Helpful Tips</a></li>
                    <li><a href="#three">Updating the Homepage</a></li>
                    <li><a href="#four">Creating Blog Posts</a></li>
                    <li><a href="#five">Publishing an Article at a Future Date</a></li>
                    <li><a href="#six">Creating a Hidden Post</a></li>
                    <li><a href="#seven">Creating a Tutor Blog Post Tag</a></li>
                    <li><a href="#eight">Creating a New Author</a></li>
                    <li><a href="#nine">Updating Facebook Share Images/Text</a></li>
                </ol>
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </section>
        </main>
        {% include scripts.html %}
    </body>
</html>
