---
layout: default
---

<section class="post-by-author">
	<section class="row">
		<div class="column">
			<section>
				{% if page.profile-image %}
					<div class="profile-image-container">
						<img src='{{ page.profile-image }}' />
					</div>
				{% endif %}
				<h1>{{ page.author }}</h1>
				{% if page.job-title %}
					<h2>Job Title: {{ page.job-title }}</h2>
				{% endif %}
			</section>
			<section>
				{% if page.bio %}
					<p>{{ page.bio }}</p>
				{% endif %}
				<h2>All Articles</h2>
				{% assign author = site.posts | where: "author", page.author %}
				{% for data in author %}
					<a href="{{ data.url }}">{{ data.title }}</a>
					{% if data.description %}
						<p>{{ data.description }}</p>
					{% else %}
						<p>{{ data.content | truncate: 300 }}</p>
					{% endif %}
				{% endfor %}
			</section>
			<a href="/">Back to all articles</a>
		</div>
	</section>
</section>
