<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex, nofollow">
        {% include meta-data.html %}
    </head>
    <body class="dark-header">
        {% include header.html %}
        <main class="home">
          <section class="row">
            <div class="column spc-xl-n">
                <h1 class="spc-xl-n">Authoring Guidelines</h1>
                {{ content }}
            </div>
        </section>
        </main>
        {% include scripts.html %}
    </body>
</html>
