<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic,400italic,600italic">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500">
        <link rel="stylesheet" href="/styles/main.css" />
    </head>

    <body class="desktop">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        <script src="//load.sumome.com/" data-sumo-site-id="dd6edc81799334a256874ebbd4aed8646bc3c953c181b4e7b2a630362fa5c3fd" async="async"></script><script src="//load.sumome.com/" data-sumo-site-id="dd6edc81799334a256874ebbd4aed8646bc3c953c181b4e7b2a630362fa5c3fd" async="async"></script>
    </body>
</html>