---
layout: default
---

{% assign author = site.authors | where: "title", page.author %}
{% for data in author %}
	Author: {{ data.author }} <br />
	Published: {{ page.date }}<br />
	Expertise: {{ data.expertise }} <br />
	<img src={{ data.profile-image }} >
	{{ data.url | prepend: site.baseurl }}
	<h4>Content:</h4>
	{{ content }}
	<a href="/">Back to all articles</a><br /><br />
	<a href="{{ data.url | prepend: site.baseurl }}">See all articles from {{ page.author }}</a><br /><br />
	<a href="">See Similar Articles</a>
{% endfor %}