---
layout: default
---

<main class="post">
	{% assign author = site.authors | where: "author", page.author %}
	{% for data in author %}
		{% if page.hero-image %}
		<figure style='background-image: url("{{ page.hero-image }}");'></figure>
		{% else %}
		<figure style='background-image: url("http://img.bleacherreport.net/img/images/photos/003/637/116/hi-res-e752178f4dc1e29870c6f68379ad18b4_crop_north.jpg?w=630&h=420&q=75");'></figure>
		{% endif %}
		<article class="spc-sm-n">
			<section class="row">
				<div class="column">
					<section class="group-container">
						<div class="group">
							<section class="flex-intro spc-med-n">
								<div>
									<section class="profile-image-container">
										{% if data.profile-image %}
											<img src="{{ data.profile-image }}" alt="author profile">
										{% else %}
											<img src="/uploads/author-icon-default.png" alt="default author profile">
										{% endif %}
									</section>
									{% if data.author %}
										<span>{{ data.author }}</span>
									{% else %}
										<span>A Wyzant Staff Member</span>
									{% endif %}
								</div>
								<span>{{ page.date | date: "%-m/%-d/%Y" }}</span>
							</section>
						</div>
						<div class="group">
							{% if page.title %}
								<h1 class="text-green spc-n">{{ page.title }}</h1>
							{% endif %}
							{% if page.sub-headline %}
								<h2 class="light-header">{{ page.sub-headline }}</h2>
							{% endif %}
						</div>
					</section>
					<div class="content">
						{{ content }}
					</div>
					<a href="/">Back to all articles</a><br /><br />
					<a href="{{ data.url | prepend: site.baseurl }}">See all articles from {{ page.author }}</a><br /><br />
					<a href="">See Similar Articles</a>
				</div>
			</section>
		</article>
	{% endfor %}
</main>