.profile-image-container {
	width: 60px;
	min-width: 60px;
	height: 60px;
	border-radius: 100%;
	position: relative;
	overflow: hidden;

	img {
		width: 60px;
		position: absolute;
		top: 0;
	}
}
.banner {
	padding: 100px 0 50px 0;
	background-size: cover;
	background-position: center;
}
blockquote {
	background: $lightestGray;
	p {
		display: initial;
	}
}
.flex-intro {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	a,
	span {
		margin: 0 15px;
	}
}
.home .seo-tags,
.seo-tags {
	ul {
		width: auto;
	}
	li {
		display: inline-block;
		width: auto;
		padding: 0;
		vertical-align: baseline;
		a {
			margin: 0;
		}
		&:last-child span {
			display: none;
		}
		&:nth-child(even) {
			padding: 0;
		}
		&:nth-child(odd) {
			padding: 0;
		}
		span {
			color: $gray;
			padding: 0 3px;
			margin: 0;
		}
	}
}
.home article,
.post article .group,
.post article .content {
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 20px;
		color: #abb3bd;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto 30px;

	a,span {
		width: 34px;
		height: 34px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #4e4f4f;
		margin: 0 2px;
	}
	a:hover {
	    background: #f5f7fa;
	    text-decoration: none;
	}
	span:first-of-type,
	span:last-of-type {
		color: #888;
	}
	.active {
		color: #fff;
	 	background: #0091d0;
	}
}
@media #{$queryMedium} {
	.pagination {
		justify-content: flex-end;
	}
	.profile-image-container {
		width: 80px;
		height: 80px;
		img {
			width: 80px;
		}
	}
	// Used to flip order of html on tablet+
	.group-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		.group:first-of-type {
			order: 2;
		}
	}
	.signup.btn-minimal-primary {
		display: inline-block;
	}
}

.home {
	figure {
		width: 100%;
		height: 350px;
		margin: 0;
		text-align: center;
		background-size: cover;
		background-position: center;

		h1 {
			padding-top: 140px;
		}
	}
	.profile-image-container {
		margin: -20px 0 0 20px;
		+ a {
			margin-left: 15px;
		}
	}
	article {
		padding-top: 35px;

		figure {
			width: 100%;
			height: 150px;
			margin: 0;
			text-align: inherit;
		}
	}
	li {
		padding-bottom: 50px;

		section,
		div {
			color: $charcoal;
			display: flex;
			justify-content: space-between;
			align-content: flex-start;
		}
		span {
			margin-left: 15px;
		}
	}
}
@media #{$queryMedium} {
	.home {
		figure {
			height: 350px;
		}
		ul {
			font-size: 0;
		}
		li {
			width: 50%;
			display: inline-block;
			white-space: normal;
			font-size: $baseFontSize;
			vertical-align: top;

			&:nth-child(odd) {
				padding-right: 15px;
			}
			&:nth-child(even) {
				padding-left: 15px;
			}
		}
	}
}

.post {
	figure {
		width: 100%;
		height: 300px;
		margin: 0;
		background-size: cover;
		background-position: center;
	}
	iframe {
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
		display: block;
	}
	.author-container {
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
	}
	p img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		padding: 20px 0;
	}
	article .content {
		h2 {
			color: $charcoal;
			background: $lightGray;
			padding: 5px;
			margin-top: 30px;
		}
		h3 {
			text-align: center;
			font-size: 22px;
			padding: 40px 0 30px 0;
			&:before {
				content: "\201C";
				color: $grass;
				text-align: center;
				font-family: "Times New Roman";
				font-size: 90px;
				width: 100%;
				line-height: 50px;
				display: inline-block;
			}
		}
		> blockquote {
			margin: 20px 0;
			padding: 20px 20px 20px 50px;
			position: relative;

			&:before {
				content: "\201C";
				color: $bluejeans;
				position: absolute;
				left: 20px;
				top: 20px;
				font-family: "Times New Roman";
				font-size: 40px;
				line-height: 40px;
			}
			blockquote {
				text-align: right;
			}
		}
		li {
			padding-bottom: .75em;
			p {
				margin: 0;
			}
		}
	}
}
.recent-articles ul {
	margin: 0 auto;
}
.post-by-author {
	padding-top: 80px;
	.flex-intro {
		justify-content: flex-start;
		p {
			color: $gray;
		}
	}
	article p {
		margin: 0;
	}
}
@media #{$queryMedium} {
	.post {
		figure {
			height: 300px;
		}
	}
	article {
		max-width: 700px;
		margin: 0 auto;
		ul,
		ol,
		h3 {
			width: 70%;
			margin: 0 auto;
		}
	}
	.post-by-author {
		padding-top: 120px;
	}
}