footer {
	background: $headerFooterBG;
	display: inline-block;
	width: 100%;
	ul {
		a {
			display: block;
		}
		input[type=checkbox] ~ ul {
			max-height: 0;
			overflow: hidden;
			transition: max-height .15s ease-out;
		}
		input[type=checkbox]:checked ~ ul {
			max-height: 100%;
			transition: max-height .5s ease-in;
		}
		ul {
			li {
				border-bottom: 1px solid $lightGray;
			}
			a {
				padding: 1em;
			}
		}
	}
	input {
		opacity: 0;
		height: 0;
		width: 0;
	}
	label {
		padding: 1em;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid $charcoal;
		width: 100%;
		display: inline-block;
		&:after {
			content: "+";
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-10px);
		}
	}
	.flex-intro {
		max-width: 200px;
		margin: 0 auto;
		a {
			background: #fff;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.3em;
		}
	}
	img {
		max-width: 80px;
		margin: 0 auto;
		display: block;
	}
}